body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #070707;
  padding-top: 70px;
}

/*---------------------------------------------------------Header---------------------------------------------------------*/
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0d6efd;
    color: white;
    position: fixed;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 120px;
}

/*Titulo*/
.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    color: #fff;
    text-align: center;
    animation: sombra 5s linear;
}

@keyframes sombra {
  0% {
    text-shadow: 0 0 10px #fff;
  }
  25% {
    text-shadow: 10px 10px 15px #888;
  }
  50% {
    text-shadow: -10px 10px 20px #444;
  }
  75% {
    text-shadow: 10px -10px 15px #aaa;
  }
  100% {
    text-shadow: 5px 5px 10px #fff;
  }
}

header h2 {
  margin: 5px 0 0 0;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
}

header h2 a {
  color: #fff;
  text-decoration: none;
}

/* Botón menú */
.menu-btn {
  font-size: 24px;
  cursor: pointer;
  background: rgb(0, 0, 0);
  color: #ffffff;
}

/* Menú lateral suspendido */
.side-menu {
    height: 90%;
    width: 0;
    position: fixed;
    top: 10;
    left: 0;
    background-color: rgba(10, 10, 10, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

/* Submenús ocultos por defecto */
.side-menu li ul {
  display: none;
  padding-left: 10px;
}

.side-menu li:hover > ul {
  display: block;
}

.side-menu a {
  text-decoration: none;
  color: #fff;
}


/* Foto circular flotante */
.perfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff;
  transform-style: preserve-3d;
  animation: girar 5s linear;
}

@keyframes girar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*---------------------------------------------------------Sections---------------------------------------------------------*/

p {
  text-align: justify;
}

section {
  display: none; /* oculto por defecto */
  padding: 20px;
  color: #000000;
}

section.active {
  display: block; /* solo la sección activa se muestra */
}

/*Square */
.dot-square {
  display: grid;
  grid-template-columns: repeat(5, 15px);
  grid-template-rows: repeat(5, 15px);
  gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgray; /* vacío */
}

.dot.filled {
    background-color: black; /* lleno */
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*----------------------------------------------------------------------Formularios--------------------------------------*/

/* Radios más grandes */
.radio-scale {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* Colores personalizados */
.radio-1 {
  accent-color: green;
  box-shadow: 0 0 10px rgba(0,128,0,0.6);
}

.radio-2 {
  accent-color: lightgreen;
  box-shadow: 0 0 10px rgba(144,238,144,0.6);
}

.radio-3 {
  accent-color: blue;
  box-shadow: 0 0 10px rgba(0,0,255,0.6);
}

.radio-4 {
  accent-color: gold;
  box-shadow: 0 0 10px rgba(255,215,0,0.6);
}

.radio-5 {
  accent-color: purple;
  box-shadow: 0 0 10px rgba(128,0,128,0.6);
}

/* Escala de tamaños: extremos más grandes */
.radio-1, .radio-5 {
  width: 35px;
  height: 35px;
}

.radio-2, .radio-4 {
  width: 30px;
  height: 30px;
}

.radio-3 {
  width: 28px;
  height: 28px;
}

/*Fijando partes de la pagina con boostrap*/
